<h1> Javascript basic </h1>
<br />
<br />
<br />

<table>
    Title
    <div class="div">
        <button (click)="zoomIn()" >Zoom In</button>
        &nbsp; &nbsp;
        <button (click)="zoomOut()" >Zoom Out</button>
    </div>
</table>

        














        
        <table>
            <tr>
                <th>A</th>
                <th>B</th>
            </tr>
            <tr>
                <td>1</td>
                <td>5</td>
            </tr>
            <tr>
                <td>9</td>
                <td>10</td>
            </tr>
        </table>





      
  
   


  
