
<p>about works!</p>
<br/>
<!-- Hello world from about page ! Bạn có 
<span class="postCss"> &nbsp; {{ posts?.length }} &nbsp; </span> tin nhắn
<br/>

So tin nhan <span class="badge"> {{ posts?.lenght }} </span>

<br/>
<h3 class="overAge" appBold>Chao ban {{ name }} </h3>
<h3 class="overAge" appBold>Bạn đã {{ age }} tuổi </h3>
<button (click)="tangtuoi()">Tăng tuổi</button>
<br  />
Comments: <br /> 
<span>{{ comments | json }}</span>

Comments: <br /> <br />
<span *ngIf="comments">{{ comments[0] | json }}</span>

Posts: <br /> 
<div >
    <li>{{ posts | json }} </li>
</div>

<table 
    id="customers" 
    style="border-collapse: collapse;"
    >
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    <tr *ngFor="let post of posts">
        <td>{{ posts?.id }}</td>
        <td>{{ posts?.title }}</td>
        <td>{{ posts?.author }}</td>

    </tr>
</table>


<br />
<button (click)="addPost()"> Thêm post mới </button>
<span class="badge"> {{ posts?.lenght }} </span>
   -->
 

   <br />
<h1>Vài nét</h1>
<p>
  Đây là chương trình Web App đầu tiên dùng Angular 9 (Single Page Application -
  SPA)
</p>
<p>
  Bên server thì dùng Fake Json Server (server giả)
</p>
<p>
  Bên client thì dùng ngôn ngữ Angular
</p>
<p>
  Nhiệm vụ của trương trình là quản lý sinh viên đơn giản là thêm, chỉnh sửa,
  xóa dữ liệu ...
</p>
<p>
  Mục đích là thực tập xem viết 1 web app dùng Angular có khó không !
</p>