<!-- <a [routerLink]="['/home']" routerLinkActive="router-link-active"> 
     Home 
</a>
&nbsp;|
<a [routerLink]="['/about']" routerLinkActive="router-link-active"> 
     About
</a>

&nbsp;|
<a [routerLink]="['/form']" routerLinkActive="router-link-active"> 
   Form
</a>
&nbsp;| -->
<a [routerLink]="['/reactiveform1']" routerLinkActive="router-link-active" >
     ReactiveForm
</a>
|
<!-- <a [routerLink]="['/products']" routerLinkActive="router-link-active" >
     products
</a> -->
|
<!-- <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
     dashboard
</a> --> 
<router-outlet></router-outlet>


